.idea
**/node_modules/*
**/.firebaserc
*/npm-debug.log
lerna-debug.log
*~
service-account-credentials.json
**/package-lock.json

# logs
firebase-debug.log

# dotenv environment variables file
.env
.runtimeconfig.json

# example data (sensative)
example-data
